{% extends 'accounts/layout.html' %}

{% block title %}
    Registro
{% endblock title %}

{% block page_title %}
<div class="d-flex justify-content-center align-items-center m-3">
    <h3>Registro de usuarios</h3>
</div>
{% endblock page_title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center m-3">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex justify-content-center align-items-center gap-3">
        <button type="submit" class="btn btn-dark text-warning">Registrarse</button>
        <a href="{% url 'blog:index' %}" class="btn btn-dark text-warning">Cancelar</a>
    </div>
</form>
</div>
{% endblock content %}