{% extends 'blog/layout.html' %}

{% load static %}

{% block title %}
    Inicio     
{% endblock title %}

{% block page_title %}
    <div class="d-flex justify-content-center align-items-center mb-3">
        <h1>Bienvenido a mi blog de musica</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center mb-3">
        <h2>
            {% if user.is_authenticated %}
                {{ user.username | upper }}
            {% else %}
                <a class="btn btn-dark" href="{% url 'accounts:login' %}">Iniciar Sesion</a>
            {% endif %}
        </h2>
    </div>
    
{% endblock page_title %}

{% block content %}
    <div class="container-fluid  d-flex justify-content-center align-items-center">
        <img src="{% static 'blog\img\musica-e1584123209397.webp' %}"/>
   </div>
{% endblock content %}